.react-calendar-heatmap .color-empty {
    fill: #ebedf0;
  }
  
  .react-calendar-heatmap .color-gitlab-1 {
    fill: #c6e48b;
  }
  
  .react-calendar-heatmap .color-gitlab-2 {
    fill: #7bc96f;
  }
  
  .react-calendar-heatmap .color-gitlab-3 {
    fill: #239a3b;
  }
  
  .react-calendar-heatmap .color-gitlab-4 {
    fill: #196127;
  }
  
  .contributions-graph-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
  }
  
  .contributions-graph-container h3 {
    margin-bottom: 1rem;
  }
  
  .react-calendar-heatmap text {
    fill: #767676;
    font-size: 10px;
  }
  
  @media (prefers-color-scheme: dark) {
    .react-calendar-heatmap .color-empty {
      fill: #444c56;
    }
  
    .react-calendar-heatmap .color-gitlab-1 {
      fill: #2b6cb0;
    }
  
    .react-calendar-heatmap .color-gitlab-2 {
      fill: #2c5282;
    }
  
    .react-calendar-heatmap .color-gitlab-3 {
      fill: #2a4365;
    }
  
    .react-calendar-heatmap .color-gitlab-4 {
      fill: #1a365d;
    }
  
    .react-calendar-heatmap text {
      fill: #adbac7;
    }
  }
  